html{
padding: 0;
margin: 0;
font-family: 'Love Light', cursive;
font-size:xx-large ;
background-color: pink;
}

.container{
height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.gif{
    text-align: center
}

input[type=button] {
    font-family: 'Love Light', cursive;
    font-size: xx-large;
    background-color: pink;
    border-color: pink;
    border-style: none;
    cursor: pointer;
}

.yes-gif{
    visibility: hidden;
}

img{
    height: 150px;
}
